body {
    margin: 0;
    padding: 0;
}

.page {
    background-image: url("../images/background.png");
    width: 1366px;
    display: flex;
    flex-direction: column;
}

header {
    display: inline-flex;
    justify-content: space-between;
    margin: 40px 140px;
}

a {
    text-decoration: none;
}

.icon {
    float: left;
    width: 46px;
    height: 44px;
    background-image: url("../images/logo.png");
}

.head {
    color: white;
    float: left;
}

.headTxt1 {
    font-family: Verdana;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 5px;
}

.headTxt2 {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

#log:hover .icon {
    background-image: url("../images/logo_orange.png");
}

#log:hover .head {
    color: #f26522;
}

.contacts {
    color: white;
}

.contactTxt {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

}

.contactTxt2 {
    padding-top: 5px;
    padding-left: 62px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-left: 140px;
    margin-right: 140px;
}

li {
    margin-bottom: 40px;
}

.frame {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, white 100%);
    border-image-slice: 1;
}

.orangeMenu {
    position: relative;
    opacity: 0;
}

.hoverImg {
    position: absolute;
    bottom: 16px;
}

.hoverTxt1 {
    color: white;
    font-family: Verdana;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    bottom: 51px;
    left: 21px;
}

.hoverTxt2 {
    color: white;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    left: 21px;
    bottom: 30px;
}

.hoverTxt3 {
    color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.hoverTxt4 {
    color: white;
    position: absolute;
    bottom: 30px;
    right: 18px;
}

.txtUnderImg {
    font-family: Verdana;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 12px;
}

.choose:hover .orangeMenu {
    opacity: 1;
}

.choose:hover .txtUnderImg {
    color: #f26522;
}

footer {
    font-family: Verdana;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    display: flex;
    justify-content: center;
}
